body {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(207, 47, 35, 1) 50%, rgba(237, 221, 83, 1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
    color: aliceblue;
}

.JSCalc {
    display: inline-block;
    border: solid 4px white;
    border-radius: 65px;
    padding: 1%;
}
