body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0px;
    background: #681ee8;
    background: linear-gradient(205deg, rgba(104, 30, 232, 1) 0%, rgba(87, 199, 147, 1) 50%, rgba(237, 139, 83, 1) 100%);
}

.JSCalc, .GuessingGame {
    display: inline-block;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 65px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 2%
}